## .NET
bin/
obj/
publish/
*.user
*.suo
*.userosscache
*.sln.docstates

## IDE
.vs/
.idea/
.vscode/
*.DotSettings.user

## OS
Thumbs.db
desktop.ini
.DS_Store

## Project-specific
data/raw/
appsettings.Development.json

## Logs
logs/
*.log
